.Topbar-container {
  border-width: 6px;
  height: 80px;
  width: 1330px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.Topbar-item {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 160%;
  border: solid white;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: green;
  cursor: pointer;
}
.Topbar-item:hover {
  background-color: black;
  color: white;
  padding: 8px;
  transition: 0.4s;
}
